.contaner{
 
  margin: 0 auto;
  max-width: 1250px;
}
.contaner-top{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.contaner-top-img{
  width: 160px;
height: 41px;
top: 135px;
left: 247px;
gap: 0px;
opacity: 0px;

}
.contaner-top-ul{
  list-style: none;
  display: flex;
  align-items: center;
}
.contaner-top-li{
  color: black;
  margin-right: 400px ;
}
.contaner-top-li-i{
color: darkgray;
margin-right: 50px;

}
.cotaner-pas{
  display: flex;
  align-items: center;
}
.contaner-pas-h{
    color: black;
    font-size: 48px;
}
.contaner-pas-text{
  color: darkgray;
  font-size: 21px;
}
